.btn 
	border-radius 100px
	display inline-block
	font-size 14px 
	font-weight bold
	font-family tipography
	height 40px
	line-height 40px
	margin 0 5px
	padding 0 20px
	position relative
	transition_all(.8s)
	vertical-align top
	z-index 10
	min-width 80px
	border none
	outline 0
	background black_color
	color white_color
	&-ghost
		background rgba(white_color, .3)
		color white_color
	&-float
		position fixed
		z-index 1000
		bottom 20px
		left 50%
		width calc(100% - 32px)
		transform translateX(-50%)
		text-align center
		padding 8px 0
		height auto
		font-size 16px
.link
	font-family tipography2
	font-size 14px
	color dark_color
	text-decoration underline
	&.link-pink
		color pink_color
	&.link-blue
		color blue_color
	&.link-yellow
		color yellow_color
@media only screen and (min-width : 560px)
	.btn
		&-float
			position relative
			padding 0 20px
			bottom initial
	

@media only screen and (min-width : 1100px)		
	.btn
		&-ghost
			min-width 180px
			border solid thin rgba(white_color, .3)
			&:hover
				border solid thin white_color
				color black_color
				background white_color
		&:hover
			shadow_custom(black_color, 0, 0, 0, 6px, .1)
	.link
		&:hover
			text-decoration line-through