/* Colors
_____________________________________________________ */
// Brand colors
dark_color = #23072E
black_color = #000
gray_color_1 = #F1F3F3
gray_color_2 = #F8F8FB
gray_color_3 = #929BA8
gray_color_4 = rgba(black_color, .5)
primary_color = #6543B5
secondary_color = #66ede1
white_color = #fff

// Socials colors
dribbble = #EA4C89
linkedin = #0077B5
twitter = #55ACEE
instagram = #3F729B
behance = #0864FF
facebook = #3b5998
youtube = #cc181e

/* Typography
_____________________________________________________ */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
// tipography = -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
// tipography2 = -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;

tipography = 'Avenir Next','Noto Sans',sans-serif;
tipography2 = 'Avenir Next','Noto Sans',sans-serif;
