/* Colors
_____________________________________________________ */
// Brand colors
white_color = #fff
light_color = #F9F9FD
black_color = #000
dark_color = #030819
smoke_color = rgba(dark_color, 0.5)


blue_color = #2200FF
pink_color = #F200EC
yellow_color = #FBAB00



/* Typography
_____________________________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


@font-face {
    font-family: 'Disket Mono';
    src: url('../fonts/DisketMono.woff2') format('woff2'),
        url('../fonts/DisketMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Disket Mono';
    src: url('../fonts/DisketMono-Bold.woff2') format('woff2'),
        url('../fonts/DisketMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



tipography = 'Inter';
tipography2 = 'Disket Mono';
