.Footer
	background white_color
	color smoke_color
	position relative
	width 100%
	padding 40px 0 80px
	font-family tipography2
	font-size 14px
	text-align left
	&_Menu
		margin 1em 0
		li
			display block
			margin 0 4px 32px 0

@media only screen and (min-width : 1100px)		
	.Footer
		padding 80px 0
		&_Menu
			li
				display inline-block
				margin 0 4px 0 0