.Hero
	background white_color
	display block
	&_Banner
		// background: linear-gradient(140.54deg, #608D00 0%, #D30000 72.37%), linear-gradient(58.72deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
		// background-blend-mode: color-dodge, overlay, difference, normal;
		background-image url('../img/keyicons-colored.jpg')
		background-position center
		background-repeat no-repeat
	&_Icons
		padding 40px
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: stretch;
		-webkit-box-align: stretch;
		align-items: stretch;
		.iconito
			width 48px
			height 48px
			display none
			margin 40px auto
			&:nth-child(-n+12)
				display block
	
	&_Description 
		margin 0 0 40px 0
		background red
		width 100%
		padding-top 40px
		p
			font-family tipography2
			font-size 14px
			line-height 24px
	&_Title
		span 
			display none
		#KEYICONS
			fill black_color

@media only screen and (min-width : 768px)
	.Hero
		// .container
		// 	padding 40px
			
		&_Description 
			text-align left
			display inline-block
			margin-bottom 0
			p
				margin-bottom 0

		&_Title
			font-size 64px
			line-height 64px
			margin-bottom 20px		
	
		

@media only screen and (min-width : 1100px)		
	.Hero
		&_Icons
			grid-template-columns: repeat(7, 1fr);
		.iconito
			width 80px
			height 80px
			margin 60px auto
			display block