.Hero
	background-color dark_color
	color white_color
	display block
	.container
		padding 40px
	&_Title
		font-size 48px
		font-weight 700 !important
		font-family tipography
	&_Description 
		margin 0 0 40px 0
		p
			font-family tipography
			font-size 14px
			line-height 24px
	&_Software
		text-align center
		&_item
			width 45%
			min-width 100px
			display  inline-block
		h6
			font-weight 400
			font-size 12px
		img
			margin 10px auto
			max-width 100px
		
	// &_Download 
	// 	display inline-block

@media only screen and (min-width : 768px)
	.Hero
		.container
			padding 40px
			
		&_Description 
			text-align left
			width 60%
			display inline-block
			margin-bottom 0
			p
				margin-bottom 0


		&_Title
			font-size 64px
			line-height 64px
			margin-bottom 20px
		
		&_Software
			width 39%
			display  inline-block
			vertical-align bottom
			text-align right
			&_item
				text-align center
				margin-left 30px
				width 100px
			img
				margin  10px 0
				
		// &_Download
		// 	display inline-block
		// 	min-width 80px
		// 	.icon
		// 		vertical-align middle
	
		

@media only screen and (min-width : 1100px)		
	.Hero
		.container
			padding 80px 20px 60px
	// .Download
	