.Hero
	display block
	text-align left
	&_Banner
		// background: linear-gradient(140.54deg, #608D00 0%, #D30000 72.37%), linear-gradient(58.72deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
		// background-blend-mode: color-dodge, overlay, difference, normal;
		background-image url('../img/background-key.jpg')
		background-position center
		background-repeat no-repeat
		background-size cover
	&_Icons
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: stretch;
		-webkit-box-align: stretch;
		align-items: stretch;
		.iconito
			width 48px
			height 48px
			display none
			margin 20px auto
			&:nth-child(-n+12)
				display block
	
	&_Description 
		width 100%
		padding 40px 0
		color gray_color
		p
			font-family tipography
			span 
				margin-right 24px
				display inline-block
		.btn 
			margin-top 10px


	&_Title
		width 200px
		margin 0
		svg
			margin 0
			width 100%
		span 
			display none
		#KEYICONS
			fill black_color
	&_Menu
		text-align right
		margin 8px 0
		li
			margin 0 0 6px 0
			display inline-block

@media only screen and (min-width : 768px)
	.Hero
		&_Description 
			text-align left
			display inline-block
			margin-bottom 0
			p
				margin-bottom 0

		&_Title
			font-size 64px
			line-height 64px
			margin-bottom 20px		
	
		

@media only screen and (min-width : 1100px)		
	.Hero
		&_Title
			width auto
			svg	
				width auto
		&_Icons
			grid-template-columns: repeat(7, 1fr);
		.iconito
			width 80px
			height 80px
			margin 48px auto
			display block
		&_Description
			p
				max-width 600px
