.KeyContent
	position relative
	z-index 10
	border-top solid 1px light_color
	border-bottom solid 1px light_color
	&::after
		position absolute
		content ''
		width 100%
		height 1px
		background light_color
		top 43px
		left 0
	.container
		border-left solid 1px light_color
		border-right solid 1px light_color
	&__message
		background rgba(red, .2)
		border-color rgba(red, .8)
		color red
		display inline-block
		margin 0 auto
		padding 10px 20px
		border-radius 6px

.KeyiconsContent
	width 100%
	display grid
	grid-template-columns repeat(3, 1fr)
	
.key
	text-align center
	
.keyicon 
	background white_color
	display block
	margin 10px auto 45px
	position relative
	// shadow_custom(black_color, 0, 1px, 3px, 0px, .1)
	transition_all(.3s)
	min-width 100px
	width 100%
	height 100px
	padding 25px 0 
	outline none
	&::after
		content ''
		display block
		position absolute
		top 43.5%
		left 50%
		content ''
		width 56px
		height 56px
		z-index 1
		transform translate(-50%, -50%)
		border-radius 50%
		transition_all(.3s)
	&.newBlue,
	&.newOrange,
	&.newPink
		&::after
			background black_color
		img
			filter invert(100%)
	
	// &.newBlue
	// 	&::after
	// 		background blue_color
	// 	img
	// 		filter invert(100%)
	// &.newOrange
	// 	&::after
	// 		background yellow_color
	// 	img
	// 		filter invert(100%)
	// &.newPink
	// 	&::after
	// 		background pink_color
	// 	img
	// 		filter invert(100%)
	
	&_name
		transition_all(.3s)
		// position absolute
		// top -20px
		// font-family tipography
		// font-size 12px
		// font-weight 400
		// color smoke_color
		// left 0
		// width 100%
		// text-align left
		// white-space nowrap
		// overflow hidden
		// text-overflow ellipsis
		bottom 10px
		padding 5px 10px
		color dark_color
		font-size 12px
		font-family tipography
		line-height 10px
		height 20px
		position absolute
		left 50%
		transform translateX(-50%)
		transition_all(.3s)
		width 100%

	&_aka
		display none
	
	
	img
		width 24px
		margin-top 6px
		display inline-block
		z-index 100
		position relative
		
	&_download
		// background dark_color
		border-radius 20px
		bottom 10px
		padding 5px 10px
		color dark_color
		font-size 12px
		font-family tipography2
		line-height 10px
		font-weight bold
		height 20px
		position absolute
		left 50%
		transform translateX(-50%)
		opacity 0
		transition_all(.3s)
		display none
	&-new
		border-radius 20px
		bottom 10px
		padding 5px 10px
		color dark_color
		font-size 12px
		font-family tipography2
		line-height 10px
		font-weight bold
		height 20px
		position absolute
		left 50%
		transform translateX(-50%)
		opacity 0
		transition_all(.3s)
		// background rgba(dark_color, .1)
		opacity 1
		display none

		&.newBlue
			color blue_color
		&.newOrange
			color yellow_color
		&.newPink
			color pink_color
		
	// &.keyicon_new--old
	// 	// display none
	// 	background red
		
	&.is-clicked
		background transparent
		shadow_custom(white_color, 0, 1px, 3px, 0px, .1)
		img
			filter none
			opacity .5
		&::after
			top 45%
			background rgba(smoke_color, 0.05)
		.keyicon
			&-new
				display none
			&_download
				opacity 1
				text-decoration line-through
				color rgba(smoke_color, .2)
				
	
@media only screen and (min-width : 601px)
	.KeyiconsContent
		grid-template-columns: repeat(4, 1fr);

	.key
		padding 4px
	

@media only screen and (min-width : 768px)
	.KeyContent
		padding 50px 20px 0
		
	.keyicon
		height 120px
		padding 35px 0
		&::after
			top 45%
		
		&:focus
			shadow_custom(black_color, 0, 10px, 30px, -6px, .1)
		
		&:hover
			shadow_custom(black_color, 0, 15px, 30px, -6px, .2)
			transform scale(1.1)
			padding 35px 0 45px
			z-index 1
			&::after
				top 45%
			.keyicon
				&_name
					color black_color
				&_download
					opacity 1
					bottom 15px
				&-new
					display none
				
					
		&.is-clicked
			padding 35px 0 45px
			.keyicon
				&_download
					bottom 15px
				&-new
					display none

@media screen and (min-width 900px)
	.KeyiconsContent
		grid-template-columns: repeat(5, 1fr);	
		

@media screen and (min-width 1100px)
	.KeyContent
		padding 0
		position relative
		.container
			padding 0
			
	.KeyiconsContent
		grid-template-columns: repeat(7, 1fr);	
	
	// .keyicon
	// 	&::after
	// 		top 45%
		

@media screen and (min-width 1200px)
	.KeyContent
		padding 0 0
	.KeyiconsContent
		grid-template-columns: repeat(8, 1fr);	
		min-height 400px

@media screen and (min-width 1300px)
	.KeyiconsContent
		grid-template-columns: repeat(10, 1fr);
	.key
		padding 0
	.keyicon 
		margin 0 0 50px 0
	
@media screen and (min-width 1560px)
	.KeyiconsContent
		grid-template-columns: repeat(12, 1fr);





// @keyframes icon-animate-hover
// 	0%
// 		stroke-dashoffset 1000
// 	100% 
// 		stroke-dashoffset 0
		
// @keyframes icon-animate-in
// 	0%
// 		stroke-dashoffset 1000
// 	100%
// 		stroke-dashoffset 0
								