.SearchBox
	margin 0 auto 40px
	position relative
	display inline-block
	width 100%
	vertical-align top
	&:hover,
	&:focus
		.SearchBox-icon
			color dark_color
			
	&-icon
		position absolute
		top 8px
		left 12px
		width 20px
		height 20px
		opacity .3
		.icon
			width 20px
			height 20px
			
	input
		border none
		width 100%
		line-height 40px
		background transparent
		border-bottom solid thin dark_color
		outline 0
		font-weight 100
		font-family tipography2
		font-size 12px
		text-transform uppercase
		letter-spacing .5px
		transition_all(.3s)
		text-indent 44px
		&:hover,
		&:focus
			border-bottom-color dark_color
			background light_color
		

/*
FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.KeyContent
	input[type="radio"]
		position absolute
		left -9999px
		
.Filters
	display inline-block
	vertical-align bottom
	width 100%
	label 
		display inline-block
		padding 12px 12px
		line-height 20px
		text-transform uppercase
		cursor pointer
		font-family tipography2
		font-size 12px
		margin 0 0 10px
		transition_all(.3s)
		color smoke_color
		letter-spacing .5px
		&:hover
			color smoke_color
			border-color smoke_color
			background light_color
			
/*
FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	[value="all"]:checked ~ .Filters [for="all"],
	[value="news"]:checked ~ .Filters [for="news"],
	[value="action"]:checked ~ .Filters [for="action"],
	[value="alert"]:checked ~ .Filters [for="alert"],
	[value="comunication"]:checked ~ .Filters [for="comunication"],
	[value="content"]:checked ~ .Filters [for="content"],
	[value="editor"]:checked ~ .Filters [for="editor"],
	[value="key"]:checked ~ .Filters [for="key"],
	[value="multimedia"]:checked ~ .Filters [for="multimedia"],
	[value="navigation"]:checked ~ .Filters [for="navigation"]
		color dark_color
		background light_color

		

	[value="all"]:checked ~ .KeyiconsContent [data-category]
		display: block;

	
[value="action"]:checked ~ .KeyiconsContent .key:not([data-category~="action"]),
[value="news"]:checked ~ .KeyiconsContent .key:not([data-category~="news"]),
[value="alert"]:checked ~ .KeyiconsContent .key:not([data-category~="alert"]),
[value="comunication"]:checked ~ .KeyiconsContent .key:not([data-category~="comunication"]),
[value="content"]:checked ~ .KeyiconsContent .key:not([data-category~="content"]),
[value="editor"]:checked ~ .KeyiconsContent .key:not([data-category~="editor"]),
[value="key"]:checked ~ .KeyiconsContent .key:not([data-category~="key"]),
[value="multimedia"]:checked ~ .KeyiconsContent .key:not([data-category~="multimedia"]),
[value="navigation"]:checked ~ .KeyiconsContent .key:not([data-category~="navigation"])
	display none



@media only screen and (min-width : 768px)
	.SearchBox
		max-width 400px
		margin 0 auto
		

@media only screen and (min-width : 1100px)		
	.SearchBox
		input
			border-right solid 1px light_color
	.Filters
		width calc(100% - 405.5px)
		margin 0 0 60px
		text-align right
		label 
			margin-bottom 0
