.SearchBox
	margin 0 auto 40px
	position relative
	display inline-block
	width 100%
	&:hover,
	&:focus
		.SearchBox-icon
			color dark_blue
			
	&-icon
		position absolute
		top 12px
		left 16px
		width 20px
		height 20px
		opacity .3
		.icon
			width 20px
			height 20px
			
	input
		width 100%
		line-height 44px
		background white_color
		border solid thin smoke_color
		text-indent 44px
		letter-spacing -.5px
		outline 0
		transition_all(.3s)
		font-weight 100
		border-radius 40px
		&:hover,
		&:focus
			border-color dark_blue
			shadow_custom(dark_blue, 0, 3px, 3px, 2px, .11)



/*
FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.KeyContent
	input[type="radio"]
		position absolute
		left -9999px
.Filters
	display inline-block
	vertical-align bottom
	width 100%
	margin-bottom 40px
	&>*
		display inline-block
	label 
		padding 4px 8px
		// border-radius 16px
		line-height: normal;
		// border solid thin dark_blue
		text-transform uppercase
		cursor pointer
		font-family tipography2
		font-size 12px
		margin-bottom 10px
		display inline-block
		transition_all(.3s)
		color smoke_color
		&:hover
			text-decoration line-through
			// background dark_blue 
			// color white_color

/*
FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
	[value="all"]:checked ~ .Filters [for="all"],
	[value="action"]:checked ~ .Filters [for="action"],
	[value="alert"]:checked ~ .Filters [for="alert"],
	[value="comunication"]:checked ~ .Filters [for="comunication"],
	[value="content"]:checked ~ .Filters [for="content"],
	[value="editor"]:checked ~ .Filters [for="editor"],
	[value="key"]:checked ~ .Filters [for="key"],
	[value="multimedia"]:checked ~ .Filters [for="multimedia"],
	[value="navigation"]:checked ~ .Filters [for="navigation"]
		color dark_blue
		font-weight bold
		

	[value="all"]:checked ~ .KeyiconsContent [data-category]
		display: block;

	
[value="action"]:checked ~ .KeyiconsContent .key:not([data-category~="action"]),
[value="alert"]:checked ~ .KeyiconsContent .key:not([data-category~="alert"]),
[value="comunication"]:checked ~ .KeyiconsContent .key:not([data-category~="comunication"]),
[value="content"]:checked ~ .KeyiconsContent .key:not([data-category~="content"]),
[value="editor"]:checked ~ .KeyiconsContent .key:not([data-category~="editor"]),
[value="key"]:checked ~ .KeyiconsContent .key:not([data-category~="key"]),
[value="multimedia"]:checked ~ .KeyiconsContent .key:not([data-category~="multimedia"]),
[value="navigation"]:checked ~ .KeyiconsContent .key:not([data-category~="navigation"])
	display none



@media only screen and (min-width : 768px)
	.SearchBox
		max-width 400px
		margin 0 0 60px
		

@media only screen and (min-width : 1100px)		
	.SearchBox
		max-width 400px
		margin 0 0 60px
	.Filters
		width calc(100% - 410px)
		margin 0 0 60px
		text-align right
		label 
			margin-bottom 0
