.Shared
	background: linear-gradient(121.28deg, #8000FF 0%, #000000 100%), linear-gradient(180deg, #00FF19 0%, #000000 100%), linear-gradient(52.23deg, #0500FF 0%, #00FFB2 100%), linear-gradient(121.28deg, #32003A 0%, #FF4040 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
	background-blend-mode: screen, overlay, difference, color-dodge, normal;
	position fixed
	display block
	bottom -400px 
	width 300px
	height 300px
	left 50%
	margin-left -150px
	padding 30px
	border-radius 24px
	shadow_custom(black_color, 0, 10px, 60px, -6px, .2)
	transition_all(.5s)
	z-index 1000
	&.is-open
		bottom 40px
	&-Close
		background transparent
		position absolute
		top 10px
		right 10px
		width 40px
		height 40px
		display block
		border none
		outline 0
		z-index 10
		color dark_color
		transition_all(.3s)
		border-radius 40px
		&:hover
			background-color rgba(dark_color, .1)

	&-Img
		width 100px
		display inline-block
		margin 10px auto 0
	&-Content
		padding 20px
		position absolute
		bottom 0
		width 100%
		right 0
		display inline-block
		text-align center
		color black_color
		*
			margin 0
		p
			margin 10px 0
			
	&-Btn
		display inline-block
		margin 4px 4px 0
		padding 10px 20px
		overflow hidden
		transition_all(.3s)
		background-color dark_color
		color white_color
		border-radius 30px
		&:last-child
			background-color transparent
			border solid thin dark_color
			color dark_color
		.icon
			width 20px
			height 20px
			margin-left 6px
		&:hover
			shadow_custom(dark_color, 0, 0, 0, 6px, .2)
			
		// &:visited
		// 	color dark_color
		// 	&:hover
		// 		color dark_color

.icon
	width 24px
	height 24px
	display inline-block
	stroke currentColor
	vertical-align middle
	fill currentColor
	stroke-width 0
