.Header	
	// background: linear-gradient(121.28deg, #8000FF 0%, #000000 100%), linear-gradient(180deg, #00FF19 0%, #000000 100%), linear-gradient(52.23deg, #0500FF 0%, #00FFB2 100%), linear-gradient(121.28deg, #32003A 0%, #FF4040 100%), radial-gradient(50% 72.12% at 50% 50%, #EB00FF 0%, #110055 100%);
	// background-blend-mode: screen, overlay, difference, color-dodge, normal;
	display block
	padding 20px 0
	width 100% 
	transition_all(.3s)
	height auto
	border-bottom solid 1px light_color
	&_container
		display flex
		justify(between)
		vertical-align middle
	&_Logo
		display block
		margin 0
		line-height 40px

		span
			display none
		svg 
			width 100%

		#KEYICONS
			fill black_color
	&_Nav
		display inline-block
		

	


					

// @media only screen and (min-width : 768px)
// 	.Header
// 		padding 20px

@media only screen and (min-width : 1100px)
	.Header
		&.is-scrolled
			top 0

