.Header	
	background dark_blue
	display block
	padding 20px 0
	width 100% 
	z-index 5000
	transition_all(.5s)
	// position fixed
	// &.is-scrolled
	// 	padding 5px 0
	// 	background rgba(white_color, 1)
	&_container
		display flex
		justify(between)
	&_Logo
		width 40px
		height 40px
		display inline-block
		background-image url('../img/keyicons-logo.png')
		background-position center
		background-repeat no-repeat
		background-size 100%
		vertical-align top
		margin 0 
		span
			display none		
	&_Nav
		display inline-block
		
	


					

@media only screen and (min-width : 768px)
	.Header
		padding 20px

@media only screen and (min-width : 1100px)
	.Header
		padding 40px 0 0
	
